/* Resetting margin and padding */
:root{
    --MineShaft : #2B2B2B;
    --DoveGray : #656565;
    --Nero : #FFFFFF;
    --AppBackground: #f0eada;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Viewport height */
    display: flex; /* Flexbox to center the container */
    justify-content: center; /* Center the container horizontally */
    align-items: center; /* Center the container vertically */
    background-color: white; /* Background color of the entire page */
}

/* Container styling */
.container {
    width: 100%; /* Initially set to 100% width */
    max-width: 500px; /* Maximum width of 500px */
    height: 100%; /* Full height of the screen */
    max-height: 100vh; /* Maximum height of the viewport */
    background-color: #f0eada; /* Background color of the box */
    margin: 0 auto; /* Center the container */
    box-sizing: border-box; /* Include padding and border in width and height */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3), -5px 0 15px rgba(0, 0, 0, 0.3); /* Shadows */
    padding: 10px; /* Left and right padding */
}

/* Top Menu Section Styling */
.top-menu {
    width: 100%; /* Full width */
    padding: 10px; /* Padding around the top menu */
}

/* Header Container styling */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

/* Text and title styling */
.left-text, .right-title {
    font-size: 16px;
}

/* Grid Container styling */
.grid-container {
    display: flex;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 10px 0; /* Top and bottom padding */
    height: 150px; /* Set fixed height of the grid container */
    white-space: nowrap; /* Prevent grid wrapping */
    scroll-behavior: smooth; /* Smooth scrolling */
    width: 100%; /* Match the width of the container */
}

.grid-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit-based browsers */
}

/* Grid box styling */
.grid-box {
    flex: 0 0 auto;
    margin-right: 10px; /* Adjust spacing between boxes */
    width: calc(150px); /* Width of each grid box */
    text-align: center;
    white-space: normal; /* Allow text wrapping in the box */
}

/* Image styling */
.grid-box img {
    width: 100%; /* Full width */
    height: auto;
}

/* Text area styling */
.text-area {
    background-image: url('text-bg1.png'); /* Initial background image */
    color: white; /* Initial text color */
    padding: 10px;
    border-radius: 5px; /* Rounded corners */
    transition: all 0.3s ease; /* Transition effect */
}

/* Hover effect for grid box */
.grid-box:hover .text-area {
    background-image: url('text-bg2.png'); /* Hover background image */
    background-color: #ae4035; /* Hover background color */
    color: black; /* Hover text color */
}
